body {
    margin: 2em 5em;
}

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    text-align: left;
    margin: 2em 0em;
    padding: 0;
}

nav ul li {
    display: inline;
    padding-right: 10px;
}
