body {
    margin: 0;
    padding: 0;
}

main {
    margin: 1em 3em;
}

section {
    margin: 2em 0em 4em 0em;
}

video {
   width: 100%;
   max-width: 735px;
   height: auto;
   max-height: 342px;
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: gray;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    margin: 2em 2em;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

.nowrap {
    white-space: nowrap;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
    margin: 1em 1em 1em 2em;
}

footer {
    margin: 0em 0em 0em 3em;
}

footer nav ul {
    list-style-type: none;
    text-align: left;
    margin: 2em 0em;
    padding: 1em 0em;
    border-top: 1px solid gray;
}

footer nav ul li {
    display: inline;
    padding-right: 1em;
}
